body{
    background-image: linear-gradient(to left, #042f66,#090e07);
    color: azure;
    font-weight: 300;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 5%;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}

#About{
    font-size: 1.5rem;
}

main div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Social-Links{
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}
.Social-Link{
    margin: 4%;
}

#emailPara{
    font-size: 1.5rem;
    
}

img:hover{
    box-shadow: 10px 5px 5px skyblue;
}

#Background, #Experience, #Projects{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
}
#Skills{
    margin-bottom: 6rem;
}


#Skills > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-heading{
    margin-right: 30%;
    margin-left: 10%;
    color: skyblue;
}
h2:hover{
   color: white;
}

#Skills > h2{
    text-align: center; 
    color: skyblue;
}

img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

h1{
    font-size: 5em;
}

.link{
    color: whitesmoke;
    text-decoration: skyblue underline;
}

.link:hover{
    box-shadow: 10px 5px 5px skyblue;
    border: solid skyblue;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px)
{
    .sub-heading{
        margin-right: 15%;
        margin-left: 5%;
    }
}

@media (max-width: 600px)
{
    #Background, #Experience, #Projects{
        flex-wrap:wrap;
    }
    
}

@media (max-width: 900px)
{
    .sub-heading{
        margin-right: 15%;
        margin-left: 5%;
    }
}

@media (max-width: 375px)
{
    #emailPara
    {
        font-size: 1em;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 375px)
{
    #emailPara
    {
        font-size: 1em;
        display: flex;
        flex-wrap: wrap;
    }
}